@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

*,
 *::before,
  *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-scroll-behavior:smooth;
}
body{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    font-family: "Poppins", sans-serif;
}
.bannerpojazd{
    display: flex;
    height: 175vh;
    background: url(images/wall1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
}
.one{
    width:100%;
	height:8vh;
    top:0;
	display:flex;
	justify-content: space-between;
	background:#1f2020;
    align-items: center;
    position: sticky;
    z-index: 1;
}
.one .two{
    position: fixed;
}
nav{
    display:flex;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color:#d9d9d9;
    font-size: 0.85rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.7s;
    white-space: nowrap;
    margin: 0 2vh;
    
}
nav ul li a:hover{
    color:#00aeae;

}
nav ul li div{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
    margin: 0 2vh;
}
.fa-bell{
    font-size: 1rem;
}
.fa-bell:hover{
    color: #00aeae;
    transition: 0.2s ease-in;
}
.User{
    position: absolute;
    align-items: center;
}
.boxuser{
    position: sticky;
    width: 5vh;
    height: 5vh;
    background: #d9d9d9;
    border-radius:100%;
}
.User .boxuser{
    display: flex;
}
.two{
    position: sticky;
    left:0;
    top: 0;
    width:100%;
	height:8vh;
	display:flex;
	background:#1f2020;
    z-index: 2;
}
.navbar2{
    display: flex;
    margin:auto;
}
.navbar2 ul{
    display: flex;
}
.navbar2 ul li a{
    text-decoration: none;
    color: #d9d9d9;
    position: relative;    
}
.navbar2 ul li a::after{
    content: "";
    position: absolute;
    background-color: #00aeae;
    height: 2px;
    width: 100%;
    left:0;
    bottom: -2px;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}
.navbar2 ul li a:hover{
    color:#d9d9d9;
}
.navbar2 ul li a:hover::after{
    transform: scaleX(1);
}
.pojazd{
    color:#00aeae;
}
.okno{
    width: 100%;
    max-width: 1000px;
    background: rgba(0, 0, 0, 0.3);
    margin-top: 10vh;
    backdrop-filter: blur(19px);
    border-radius: 5px;
}
.tytul{
    color:#fff;
    font-size: 1.8rem;
    z-index: 2;
}
.tytul2{
    color:#fff;
    font-size: 1.8rem;
    z-index: 2;
}
.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top:2vh;
    position: relative;
    padding: 0 5vw;
}
.akapit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8vh;
    background-color: #00aeae;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    z-index: 1;
}
.akapit2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8vh;
    background-color: #00aeae;
    margin-top: 9vh;
    z-index: 1;
}
.dane-pojazdu:nth-child(2n){
    justify-content: end;
}
.dane-pojazdu{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 20px;
}
.dane-pojazdu label{
    width: 71%;
    color: #fff;
    margin: 5px 6px;
}
.dane-pojazdu input{
    height: 35px;
    width: 75%;
    border-radius: 7px;
    outline: none;
    border: 1px solid #fff;
    padding: 0 20px;
}
.dane-pojazdu input::placeholder{
    position: relative;
    left:94%;
    color: #1f2020;
}
.info2{
    position: relative;
    display: flex;
    color: #00aeae;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.opis{
    margin-top: 3vh;
}
.odp{
    position: relative;
    align-items: center;
    margin-top: 1vh;
}
.nie{
    position: relative;
    left: 10%;
    color: #fff;
}
.tak{
    position: relative;
    right: 10%;
    color: #fff;
}
.input[type="checkbox"]
{
    position: relative;
    width: 30px;
    height: 10px;
    -webkit-appearance: none;
    background: #fff;
    outline: none;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: .5s;
}
.input:checked[type="checkbox"]
{
    background: #00aeae;
}
.input[type="checkbox"]:before
{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    top: -3px;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 1px 3px;
    transition: .5s;
}
.input:checked[type="checkbox"]::before
{
    left: 16px;
}
.danePodstawowe{
    position: relative;
    top:5vh;
}
.opis2{
    position: relative;
    top:10vh;
}
.odp2{
    position: relative;
    top:11vh;
}
.tytułOś{
    position: relative;
    top: 15vh;
}
.tytułOś2{
    position: relative;
    top: 23vh;
}
.oś{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    top:18vh;
    padding: 0 20vh;
}
.oś2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    top:26vh;
    padding: 0 20vh;
}
.dane-opon:nth-child(2n){
    justify-content: end;
}
.dane-opon{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 20px;
}
.dane-opon label{
    width: 75%;
    color: #fff;
    margin: 5px 0;
}
.dane-opon input{
    height: 35px;
    width: 75%;
    border-radius: 7px;
    outline: none;
    border: 1px solid #fff;
    padding: 0 10px;
}
.dane-opon input::placeholder{
    position: relative;
    color: #1f2020;
}
.dane-opon2{
    position: relative;
    color: #fff;
}
.dane-felgi{
    position: relative;
    color: #d9d9d9;
}
.typ{
    color: #00aeae;
}
.przyciski{
    justify-content: space-between;
    display: flex;
    margin-top:36vh;
}
button{
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    color: #000;
    width: 30vh;
    height: 4vh;
    border: none;
    background-color: #fff;
    transition: all 0.2s ease-in;
    position: relative;
}
button:hover{
    background-color: #00aeae;
    color:#fff;
}
.dalej{
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.wstecz{
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}